body { 
    background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #3C5E91 16.67%, #17153A 63.02%);
}
.metars_card { 
    min-width: 50rem;
    height: 61rem;
    margin-left: 40rem;
    padding-top: 150px;
    margin-right: 290px;
    background: linear-gradient(177.23deg, #2CDBF3 -13.49%, #3A49F9 109.75%);
    border-radius: 14px;
}