body { 
    background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #3C5E91 16.67%, #17153A 63.02%);
}

div#root {
    min-height: 100vh;
}

.metars_card { 
    display: flex;
    justify-content: center;
    min-width: 50rem;
    height: 20rem;
    margin-left: 60rem;
    padding-top: 100px;
    /* margin-right: 290px; */
    background: linear-gradient(177.23deg, #2CDBF3 -13.49%, #3A49F9 109.75%);
    border-radius: 14px;
    color: white;
}

.metar_container { 
    padding-top: 7rem;
}

.airport_search {
    width: 10rem;
    padding-top: 10rem;
    margin-left: 30rem;
}

.metar_button{
    margin-left: 30rem;
}

.metar_radio_1 { 
    margin-right: 10px;
    margin-left: 20px;
}
.metar_radio_2 { 
    margin-right: 10px;
    margin-left: 40px;
}



.form-group-metars {
    margin-left: -3rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
