@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #3C5E91 16.67%, #17153A 63.02%);
}

div#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.form-control {
  background-color: black;
  color: white;
  border-radius: 25px;
  border-color: #3C5E91;
  text-align: center;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  color: black !important;
}

.page-content {
  margin-left: 28rem;
}

