@media only screen and (min-width: 992px) {
    .navbar {
        position: fixed;
        left: 0;
        height: 100%;
        width: 23em;
        padding: 4em 3em;
        flex-direction: column;
        display: flex;
        background: linear-gradient(180deg, rgba(86, 124, 182, 0.65) 3.53%, rgb(21, 25, 58) 16.03%, rgba(23, 21, 58, 1) 100%);

        /* background:
        linear-gradient(
            to bottom,
            hsl(239.29, 32.71%, 79.02%) 0%,
            hsl(240.15, 24.2%, 72.29%) 3.7%,
            hsl(241.08, 19.35%, 65.9%) 6.6%,
            hsl(241.06, 16.31%, 59.86%) 9.1%,
            hsl(242.09, 14.32%, 54.21%) 11.2%,
            hsl(243.12, 13.55%, 48.96%) 13.5%,
            hsl(243.13, 15.38%, 44.15%) 16%,
            hsl(244.08, 17.63%, 39.81%) 19.2%,
            hsl(244.93, 20.35%, 35.95%) 23.3%,
            hsl(244.67, 23.55%, 32.61%) 28.5%,
            hsl(245.27, 27.16%, 29.78%) 35.2%,
            hsl(245.73, 31.03%, 27.44%) 43.6%,
            hsl(246.07, 35.04%, 25.53%) 54%,
            hsl(246.31, 39.13%, 23.95%) 66.7%,
            hsl(246.49, 43.62%, 22.52%) 81.9%,
            hsl(246, 49.53%, 20.98%) 100%
        ); */
    }

    .navbar ul,
    .navbar .navbar-nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 7rem;
        color: white;
    }

    .navbar-light .navbar-nav .nav-link { 
        color:rgb(142, 142, 142);
        font-size: 18px;
        letter-spacing: 2.5px;
        text-decoration: none;
        padding: 2rem;
        transition: all .2s ease-in-out;
    }
    .navbar-light .navbar-nav .nav-link:hover { 
        color: rgba(83, 185, 234, 1);
        transform: scale(1.1);
    }

    .navbar-light .navbar-nav .navbar-link:active,
    .navbar-light .navbar-nav .navbar-link:focus { 
        color:rgba(83, 185, 234, 1) !important;
    }
}

.navbar ul {
    padding: 3em;
}


.navbar-brand { 
    display: flex; 
    flex-direction: row;
    font-size: 25px;
    transition: all .2s ease-in-out;
    letter-spacing: 4px;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.navbarColumn {
    display: block;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    box-shadow: 0px 1.5px 8px 0px rgba(163, 163,163,1);
}
/* .navbar__item {
    flex-basis: 25%;
    flex-direction: column;
    display: flex;
    list-style-type: none;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
} */

.navbar-item:hover { 
    color:rgba(83, 185, 234, 1) !important;
}

.navbarTitle { 
    display: flex;
    flex-direction: row;
    font-size: 35px;
    padding: 25px;
    margin-bottom: 10rem;
    padding-left: 4rem;
    margin-top: 5rem;
}

.pilotText { 
    color: rgba(255, 252, 245, 1);
}

.logText { 
    color:rgb(187, 183, 183)
}

.navbar__link { 
    color:rgb(142, 142, 142);
    text-decoration: none;
}

.navbar__titleLink { 
    color:rgb(142, 142, 142);
    text-decoration: none;
}

.navbar__link:focus { 
    color:rgba(83, 185, 234, 1) !important;
}
/*
.navbar__link:focus { 
    color:rgba(83, 185, 234, 1)
    
} */

.circle {
    background:rgba(83, 185, 234, 1);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 3px;
    transition: all .6s ease-in-out;
} */

.circle:hover {
    border-radius:0;  
}

.text {
    color: #fff;
    opacity: 0;
    text-align: center;
    padding-top: 0px;
    font-size: 13px;
    transition: all .6s ease-in-out;
}

.circle:hover .text {
    padding-top: 30px;
    opacity: 1;
} 
