.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

input.login-input {
    background-color: transparent;
    color: white;
    height: 60px;
    border-radius: 20px;
    border-color: rgba(83, 185, 234, 1);
    text-align: center;
    font-size: 20px !important;
}

/* .form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
} */

.label--login {
    width: 8rem;
    display: inline-block;
}

/* .form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */

.container--login {
    text-align: center;
    height: 100vh;
    background-image: url("../Images/Night-Landing1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .9;
}

.form--login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    /* padding-top: 15rem; */
    margin-top: 15rem;
    width: 27rem;
    max-height: 40rem;
    border-radius: 28px;
    margin: 0 auto;
    text-align: center;
    color: rgba(83, 185, 234, 1);
    
}
.form-background{
    display: flex;
    justify-content: space-evenly;
    margin-left: 65rem;
    background-color: rgba(111, 108, 153, 0.4);
    margin-right: 65rem;
    margin-top: 15rem;
    width: 400px;
    height: 400px;
    position: fixed;
    border-radius: 24px;
}

.email-fieldset { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 25px;
    letter-spacing: 5px;
}

.button-fieldset {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.login-button {
    /* background: linear-gradient(135deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%); */
    background: transparent;
    border: 1px solid rgba(83, 185, 234, 1) !important;
    border-radius: 10px;
    width: 109px;
    height: 42px;
    color: rgba(255, 255, 255, 1) !important;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-size: 18px !important;
    letter-spacing: 2px !important;
}

.login-button:hover {
    background: linear-gradient(135deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%);
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.register-button {
    font-size: 15px !important;
}

a.register-button{
    color: rgba(83, 185, 234, 1) !important;
}